*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 80vh;
}
body{
  height: 80%;
}
.container{
  margin-top: 70px;
  height: 80%;
}
#register{
  margin-left: 30px;
}
#reset{
  margin-left: 20px;
}
form{
  height: 80%;
}
#token{
  margin-top: 30px;
}

#reset-pass-btn{
  margin-left: 50%;
  margin-top: 30px;
}
#inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.URL-shortend{
  position: fixed;
  left:0;
  top: 0;
  height: 100vh;
  background-color: hsla(240, 81%, 50%, 0.803);
}
#ul{
  a{
    text-decoration: none;
  }
}
#sidebar{
  
  h1{
    font-weight: 900;
    color: white;
    padding: 5px;
  }
}

#login-cont{
  display: flex;
  justify-content: space-around;
}
#table{
  width: 60%;
  margin: 30px auto;

}
#login-form{
  width: 60%;
  margin: 30px auto;
}
 #reset{
    margin-top: 30px;
  }
.modal-body{
  color: red;
}
@media (max-width:1000px){
  .buttons{
    display: flex;
    flex-wrap: wrap;
  }
  #reset{
    margin-top: 30px;
  }
}
@media (max-width:600px){
  #login-form{
  margin-left: 30px;
}
.form-group{
  position: absolute;
  right:30px;
}
}